<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ethical Freelance Writing Marketplace and Training Hub</title>
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <link rel="shortcut icon" href="images/logo1.png" type="image/x-icon" />
  </head>
  <body>
    <%- include('_header.ejs') %>
    <main>
      <section class="introduction">
        <div class="main-container">
          <div class="image-pic">
            <img src="images/writer4.png" alt="writer image" />
          </div>
          <div class="text">
            <h1>
              Ethical Freelance <br />Writing Marketplace and <br />Training Hub
            </h1>
            <p>
              Our aim is to addresses <br />the ethical concerns surrounding
              existing online writing account <br />marketplaces while fostering
              a supportive community <br />for freelance writers.
            </p>
          </div>
        </div>
      </section>
      <section class="hero">
        <p>
          Soko la Skills is a platform that connects ethical freelance writers
          with businesses seeking high-quality content.
        </p>
      </section>
      <section class="description">
        <div>
          <img src="images/allwrite.jpeg" alt="allwrite" />
        </div>
        <div class="benefits">
          <h2>Benefits for Buyers</h2>
          <ul>
            <li>
              Ethical Sourcing: We partner with reputable freelance writers who
              adhere to ethical writing practices.
            </li>
            <li>
              Transparent Pricing: Our standardized pricing structure ensures
              fair compensation for writers.
            </li>
            <li>
              Streamlined Access: Easily find qualified writers for your
              specific needs.
            </li>
            <li>
              Free Resources: Access resources to effectively manage your
              writing projects.
            </li>
          </ul>

          <h2>Benefits for Writers</h2>
          <ul>
            <li>
              Ethical Projects: Work on projects that value ethical writing
              practices.
            </li>
            <li>
              Fair Compensation: Receive fair pay for your writing skills and
              experience.
            </li>
            <li>
              Free Training: Enhance your skills with our comprehensive training
              resources.
            </li>
            <li>
              Supportive Community: Connect and network with other freelance
              writers.
            </li>
          </ul>
        </div>
      </section>
      <section class="call-to-action">
        <h2>Get Started Today!</h2>
        <a href="/register" class="button">Register as a Buyer</a>
        <a href="/register" class="button">Register as a Writer</a>
      </section>
      <section class="testimonial">
        <h2>See What Others Are Saying</h2>
        <p>Here are some quotes from satisfied users...</p>
      <div class="card">
          <p>
            Soko la Skills has improved our members productivity by an order of
            magnitude. Since making the switch our platform has become a
            well-oiled collaboration machine.
          </p>
          <div class="profile">
            <img src="images/avatar-testimonial.jpg" alt="frank orina" />
            <p>
              <span> Frank Orina</span>
              <span>Founder & CEO, Soko la Skills</span>
            </p>
          </div>
        </div>
        <div class="card">
          <p>
            Soko la Skills has improved my experience as a writer, I have done
            several project for buyers who do pay me good rates, grateful for
            the opportunity given to me by Soko la Skills.
          </p>
          <div class="profile">
            <img src="images/enzo.avatar.jpg" alt="enzo fernandez" />
            <p>
              <span> Enzo Fernandez</span>
              <span>Writer @ Soko la Skills</span>
            </p>
          </div>
        </div>
        <div class="card">
          <p>
            Soko la Skills has improved my standards of living as a buyer since
            I get my jobs done correctly by experienced writers enabling me to
            get good ratings and be paid well without complains of doing
            revisions for jobs which are not done properly.
          </p>
          <div class="profile">
            <img src="images/avatar.joy.png" alt="purity joy" />
            <p>
              <span> Yvonne Joy</span>
              <span>Buyer @ Soko la Skills</span>
            </p>
          </div>
        </div>
      </section>
      <section class="faq">
        <h2>Frequently Asked Questions</h2>
        <p>
          Here are some of our FAQs. If you have any other questions you’d like
          answered please feel free to email us.
        </p>
        <ol>
          <li>
            <button class="question">
              <p>What is required for freelance writing?</p>
              <img src="images/icon-arrow.svg" alt="arrow icon" />
            </button>
            <p class="answer">
              Good writing skills, strong research skills and grammatical
              knowledge are all essential for getting started as a freelance
              writer. Knowledge of common style guides is also beneficial.
              Knowing how to run your business and manage your finances are
              crucial skills as well.
            </p>
          </li>
          <li>
            <button class="question">
              <p>What is an example of freelance writing?</p>
              <img src="images/icon-arrow.svg" alt="arrow icon" />
            </button>
            <p class="answer">
              There is a wide variety of writing projects available to freelance
              writers. Here are just a few examples: <br />Academic writing
              <br />Business writing <br />Ghostwriting <br />Marketing and
              sales copywriting <br />News writing <br />Public relations
              writing <br />Website writing.
            </p>
          </li>
          <li>
            <button class="question">
              <p>How do I find freelance writing jobs?</p>
              <img src="images/icon-arrow.svg" alt="arrow icon" />
            </button>
            <p class="answer">
              There are many ways to find freelance writing jobs. Here are a few
              tips: <br />Freelance job boards <br />Content marketing agencies
              <br />Direct outreach to businesses <br />Networking with other
              freelancers <br />Soko la Skills can also be a great resource for
              finding freelance writing gigs!
            </p>
          </li>
          <li>
            <button class="question">
              <p>What are my earning potentials as a freelance writer?</p>
              <img src="images/icon-arrow.svg" alt="arrow icon" />
            </button>
            <p class="answer">
              Freelance writing income can vary greatly depending on your
              experience, niche, and rates. Some factors that can influence your
              earnings include: <br />Your writing expertise <br />The type of
              content you write <br />Your project rates <br />The number of
              clients you have <br />Soko la Skills can help you connect with
              projects that offer fair compensation for your writing skills.
            </p>
          </li>
          <li>
            <button class="question">
              <p>Do I need a portfolio to start freelancing?</p>
              <img src="images/icon-arrow.svg" alt="arrow icon" />
            </button>
            <p class="answer">
              Having a portfolio is a great way to showcase your writing skills
              and experience to potential clients. Even if you are new to
              freelance writing, you can build a portfolio by creating writing
              samples on your own or contributing to online publications.
            </p>
          </li>
        </ol>
      </section>
      <section class="mail-list" id="mail-list">
        <h2>3,000+ already joined</h2>
        <p>
          Stay up-to-date with what <br />
          we’re doing
        </p>
        <form action="/contact">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="email address"
          />
          <input type="submit" value="Contact Us" class="red-link" />
        </form>
      </section>
    </main>
    <%- include('_footer.ejs') %>
    <script src="/faqs.js"></script>
  </body>
</html>
